.educationDiv{
    display: flex;
    flex-direction: column;
    justify-content:center;
    /* align-items: center; */
    border-top: 0.3px solid black;
    border-bottom: 0.5px solid black;
    gap:2px;
  }
  
  .educationDivD{
    display: flex;
    flex-direction: column;
    justify-content:center;
    /* align-items: center; */
    color: rgb(146, 89, 89);
    border-top: 0.3px solid rgb(146, 89, 89);
    border-bottom: 0.5px solid rgb(146, 89, 89);
    gap:2px;
  }
  
  .institution{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffb80389;
    border-radius: 25%;
    padding: 4px;
    margin-bottom: 3px;
    margin-top:20px;
    width: 4rem;
  }
  .institutionD{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-radius: 25%;
    padding: 4px;
    margin-bottom: 3px;
    margin-top:20px;
    width: 4rem;
  }
  
  .titulo{
    font-weight: bold;
    margin-bottom: 3px;
    margin-top:3px
  }
  
  .time{
    margin-bottom: 3px;
    margin-top:3px
  }
  
  .where{
    margin-bottom: 30px;
    margin-top:3px
  }

  @media (max-width: 480px) {
    .educationDiv {
      justify-content:flex-start;
    }
    .educationDivD {
      justify-content:flex-start;
    }
    .institution{
      border-radius: 25%;
      padding: 4px;
      margin-bottom: 1px;
      margin-top:1px;
    }
    .institutionD{
      border-radius: 25%;
      padding: 4px;
      margin-bottom: 1px;
      margin-top:1px;
    }
    .titulo{
      margin-bottom: 1px;
      margin-top:3px
    }
    .tituloD{
      margin-bottom: 1px;
      margin-top:3px
    }
    
    .time{
      margin-bottom: 1px;
      margin-top:1px
    }
    .timeD{
      margin-bottom: 1px;
      margin-top:1px
    }
    
    .where{
      margin-bottom: 2px;
      margin-top:1px
    }
    .whereD{
      margin-bottom: 2px;
      margin-top:1px
    }
  }