.div {
  display: flex;
  height: 58rem;
  align-items: center;
  background-color: rgb(210, 205, 205);
  width: auto;
  margin-left: 18rem;
}

.section {
  padding: 5rem;
  border: 3px solid transparent;
  background-color: rgb(194, 187, 187);
  height: 100%;
  width: 100%;
}

.tittle {
  display: flex;
  font-size: 5rem;
  font-family: "Anton", sans-serif;
  color: black;
  border: 0.5px solid black;
  justify-content: center;
  align-items: center;
  height: 7rem;
}

.proyects {
  margin-top: 5rem;
  display: flex;

  /* grid-template-columns: 1fr 1fr 1fr; */
}

.navbar {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 13rem;
}

.btnNavbar {
  display: flex;
  margin: 2px;
  cursor: pointer;
  border: 0.5px solid black;
  height: 100%;
  align-items: center;
  /* justify-content: center; */
  padding-left: 5px;
}

.workView {
  width: 70%;
  height: 13rem;
  border: 2px solid black;
  background-color: rgb(180, 177, 177);
}
.workViewD {
  width: 70%;
  height: 13rem;
  border: 2px solid black;
  background-color: #593560;
}
/* .proyectsDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 0.3px solid black;
  border-bottom: 0.5px solid black;
}

.img {
  max-width: 19rem;
  margin-bottom: 30px;
  margin-top: 3px;
} */

@media (max-width: 480px) {
  .div {
    max-height: 100%;
    max-width: 100%;
    flex-direction: column;
    margin: 0;
  }
  .proyects {
    display: flex;
    flex-direction: column;
    max-height: fit-content;
  }
  .tittle {
    font-size: 3em;
  }
}


/* https://brittanychiang.com/ */