.home {
  display: flex;
  flex-direction: column;
  height: 50rem;
  align-items: center;
  background-color: rgb(194, 187, 187);
  width: auto;
  margin-left: 18rem;
  border-top: 1.5px dashed black;
  border-bottom: 1.5px dashed black;
  margin-top: 1rem;
  margin-bottom: 3rem;
  position: relative;
}
.homeD {
  display: flex;
  flex-direction: column;
  height: 50rem;
  align-items: center;
  background-color: #0e0e0d;
  width: auto;
  margin-left: 18rem;
  border-top: 2px dashed rgb(146, 89, 89);
  border-bottom: 2px dashed rgb(146, 89, 89);
  margin-top: 1rem;
  margin-bottom: 3rem;
  position: relative;
}

.div1, .div2{
  height: 50px;
  width: 50px;
  background-color: black;
  position: absolute;
}
.div1D, .div2D{
  height: 50px;
  width: 50px;
  background-color: rgb(146, 89, 89);
  position: absolute;
}

.section {
  padding: 5rem;
  border: 3px solid transparent;
  /* background-color: rgb(194, 187, 187); */
  height: 100%;
  width: 100%;
  animation: 7s anim-section ease;
  /* animation-delay: 5s; */
}
@keyframes anim-section {
  0% {
    opacity: 0;
    transform: translatex(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translatex(40%);
  }
  100% {
    opacity: 1;
    transform: translatex(0%);
  }
}

.tittle {
  display: flex;
  font-size: 5rem;
  font-family: "Anton", sans-serif;
  color: black;
  border: 0.5px solid black;
  justify-content: center;
  align-items: center;
  height: 7rem;
}
.tittleD {
  display: flex;
  font-size: 5rem;
  font-family: "Anton", sans-serif;
  color: rgb(146, 89, 89);
  border: 0.5px solid rgb(146, 89, 89);
  justify-content: center;
  align-items: center;
  height: 7rem;
}

.mySpan{
  display: flex;
  flex-direction: column;
  height: 7rem;
  width: 25rem;
  font-size: larger;
  margin-bottom: 20px;
  gap: 2px;
}
.mySpan > a{
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size:medium;
  color: black;
  border: 2px solid black;
  margin-top: 5px;
  padding: 2px;
  width: 140px;
}
.mySpanD{
  display: flex;
  flex-direction: column;
  height: 7rem;
  width: 25rem;
  font-size: larger;
  margin-bottom: 20px;
  gap: 2px;
}
.mySpanD > a{
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size:medium;
  color: rgb(146, 89, 89);
  border: 2px solid rgb(146, 89, 89);
  margin-top: 5px;
  padding: 2px;
  width: 140px;
}

.name {
  font-weight: bold;
}
.nameD {
  font-weight: bold;
  color: rgb(146, 89, 89);
}

.text {
  display: flex;
  margin-top: 3rem;
  width: 100%;
}
.textD {
  display: flex;
  margin-top: 3rem;
  width: 100%;
  color: rgb(146, 89, 89);
}

.imgMeHi{
  height: 10rem;
  margin-left: 2rem;
}

.educationTittle {
  display: flex;

  margin-top: 3rem ;
  font-family: "Anton", sans-serif;
}
.educationTittleD {
  display: flex;
  margin-top: 3rem;
  color: rgb(146, 89, 89);
  font-family: "Anton", sans-serif;
}

.education {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.educationDiv {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-top: 0.3px solid black;
  border-bottom: 0.5px solid black;
}
.educationDivD {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: rgb(146, 89, 89);
  border-top: 0.3px solid rgb(146, 89, 89);
  border-bottom: 0.5px solid rgb(146, 89, 89);
}

.institution {
  background-color: #ffb80389;
  border-radius: 25%;
  padding: 4px;
  margin-bottom: 3px;
  margin-top: 20px;
}

.titulo {
  font-weight: bold;
  margin-bottom: 3px;
  margin-top: 3px;
}

.time {
  margin-bottom: 3px;
  margin-top: 3px;
}

.where {
  margin-bottom: 30px;
  margin-top: 3px;
}

@media (max-width: 480px) {
  .home {
    height: 70rem;
    max-width: 100%;
    flex-direction: column;
    margin: 0;
    margin-bottom: 1rem;
  }
  .homeD {
    height: 70rem;
    max-width: 100%;
    flex-direction: column;
    margin: 0;
    margin-bottom: 1rem;
  }
  .section {
    padding: 2rem;
  }
  .sectionD {
    padding: 2rem;
  }
  .tittle {
    font-size: 3em;
    height: 5rem;
  }
  .tittleD {
    font-size: 3em;
    height: 5rem;
  }
  .mySpan{
    display: flex;
    flex-direction: column;
    height: 9rem;
    width: 15rem;
    font-size: larger;
    margin-bottom: 20px;
    gap: 2px;
  }
  .mySpanD{
    display: flex;
    flex-direction: column;
    height: 9rem;
    width: 15rem;
    font-size: larger;
    margin-bottom: 20px;
    gap: 2px;
  }
.text{
  height: 30rem;
}
.textD{
  height: 30rem;
}
  .p {
    margin-top: 1.5rem;
    width: 15rem;
    height: 15rem;
  }
  .pD {
    margin-top: 1.5rem;
    width: 15rem;
    height: 15rem;
  }

  .education {
    margin-top: 0.5rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  .educationD {
    margin-top: 0.5rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  .educationDiv {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-top: 0.3px solid black;
    border-bottom: 0.5px solid black;
  }
  .educationDivD {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-top: 0.3px solid black;
    border-bottom: 0.5px solid black;
  }
  .div1, .div2, .div1D, .div2D, .imgMeHi{
    display: none;
  }
}
