.home{

    display: flex;
    width: 100%;
}
#light .home{
    background-color: rgb(194, 187, 187);
}
#dark .home{
    background-color: rgb(30, 24, 24);
}

.components{
    width: 100%;
    display: inline-block;
    
}

@media (max-width: 480px) {
    .components {
            padding-top: 5rem;
    }
  }