.navbar {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 18rem;
  min-width: 15rem;
  max-width: 18rem;
  height: 100vh;
  background-color: #ffb703;
  border: 0.5px solid rgba(0, 0, 0, 0.259);
  border-radius: 0 15px 15px 0;
  align-items: center;
}

.linksSection {
  display: flex;
  height: 100%;
  flex-direction: column;
  text-decoration: none;
  align-items: center;
  justify-content: center;
}

.links {
  text-decoration: none;
  text-align: center;
  margin: 1rem;
  padding: 0.5rem;
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  color: black;
  border: 0.5px solid black;
  border-radius: 15%;
  width: 5rem;
  box-shadow: 3px 3px black;
}
.links:hover{
  font-weight: 900;
  background-color: beige;
  transition-duration: 500ms;

}
.img{
  max-width: 15rem;
}

@media (max-width: 540px) {
  .navbar{
      flex-direction: row;
      width: 100%;
      max-width: 100%;
      height: 10rem;
  }
  .linksSection{
    flex-direction: row;
      height: 45%;
      width: 40%;
  }
  
  .img{
    max-width: 5rem;
  }
}
